<div class="index-page">
<div class="wrapper">
    <div class="header header-filter" style="background-image: url(&quot;assets/img/Bogota_bg.jpg&quot;);">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="brand">
                        <h1><%= @concurso[:nombre] %></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main main-raised">
        <div class="section section-basic">
            <div class="container">
                <h1>Videos publicados</h1>
                <% @videos.each do |video| %>
                    <div class="row">
                        <div class="col-sm-4">
                            <%= video_tag video[:videoOriginal], :size => "320x240", :controls => true %>
                        </div>
                        <div class="col-sm-4" style="padding-top:20px;">
                            <h4>Nombre: <%= video[:nombres] %></h4>
                            <h4>Apellidos: <%= video[:apellidos] %></h4>
                            <h4>Estado: <%= video[:estado] %><h4>
                            <br>
                            <hr>
                        </div>
                        <div class="col-sm-4">
                            <% if video[:videoNuevo] != nil %>
                                <%= video_tag video[:videoNuevo], :size => "320x240", :controls => true %>
                            <% end %>
                            
                        </div>
                    </div>
                    <hr>
                <% end %>
            </div>
        </div>
    </div>
</div>
</div>
